<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>FixMyKix – Where the Kicks get Fixed.</title>
    {% endif %}

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="crossorigin="anonymous"></script>

    <!-- Bootstrap CSS and JS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>
<body> 
	<style type="text/css">
    	.nav-link-header {
    		color: #000;
    	}
    	#logo-header {
    		width: 100px;
    		height: 40px;
    	}
    </style>
    <!-- responsive Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-default sticky-top text-center" style="background:rgba(238,238,238,0.5);">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapse_target" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-dark"></span>
        </button>
        <a href="{{ url_for('homepage.home') }}#" class="navbar-brand nav-link-header"><img id="logo-header" src="{{ url_for('homepage.static', filename = 'img/logo.jpg') }}"></a>
        {% if session['account'] %}
        <a href="{{ url_for('profile.home', username=session['account']['username']) }}"><span class="font-weight-bold" style="color: #212121">{{ session['account']['username'] }}</span></a>
        {% endif %}
        <input class="float-center" type="text" name="search-bar" id="search-bar" style="margin-left: 100px;" placeholder="Search">
        <input class="float-center" type="button" name="search-button" id="search-button" class="btn btn-success" value="Go">
        <div class="collapse navbar-collapse" id="collapse_target">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                	<a id="explore-button" class="nav-link nav-link-header" href="{{ url_for('explore.home') }}">Explore</a>
                </li>
                <li class="nav-item">
                	<a id="about-button" class="nav-link nav-link-header" href="{{ url_for('homepage.home') }}#about">About</a>
                </li>
                {% if session['account'] %}
	                <li>
	                	<a id="logout-button" class="nav-link nav-link-header" href="{{ url_for('users.logout') }}">Logout</a>
	                </li>
	            {% else %}
	                <li class="nav-item">
	                	<a id="login-button" class="nav-link nav-link-header" href="{{ url_for('users.login') }}">Login</a>
	                </li>
	                <li>
	                	<a id="register-button" class="nav-link nav-link-header font-weight-bold" href="{{ url_for('users.signupConsumer') }}">Sign Up</a>
	                </li>
	            {% endif %}
            </ul>
        </div>
    </nav>
    <!-- All included content -->
    {% block content %} {% endblock %}
</body>
</html>