{% extends "header.html" %}
{% block content %}
	<style type="text/css">
	html,body
	{
	    width: 100%;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
	    overflow-x: hidden; 
	}
	</style>
	{% if viewing == False %}
		{% if session['account']['provider']['is_provider'] == True %}
			{% if session['account']['setup_complete'] == False %}
				<meta id="username" data-name="{{ session['account']['username'] }}">
				<div class="container-fluid">
					<h6>Provider Create Profile</h6>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="card rounded-0" style="min-height: 35vh;"> 
								<h5><b>BACKGROUND INFO</b></h5>
								<textarea class="form-control" cols="20" rows="10" id="background-info"></textarea>
							</div>
							<br>
							<div class="card rounded-0" style="min-height: 40vh">
								<h5><b>WHAT SERVICES DO YOU PROVIDE</b></h5>
								<p><input type="checkbox" id="clean-shoes" name="clean-shoes" value="">I Clean Shoes</p>
								<p><input type="checkbox" id="shoe-artist" name="shoe-artist" value="">I'm a Shoe Artist</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="card rounded-0" style="min-height: 60vh;">
								<h5><b>WRITE A BIO ABOUT YOURSELF/ BRAND.</b></h5>
								<textarea class="form-control" cols="20" rows="20" id="write-about-brand"></textarea>
							</div>
							<br>
							<div class="card rounded-0">
								<button class="btn btn-dark" id="update-setup-button">SAVE & SETUP MY SHOP</button>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript" src="{{ url_for('profile.static', filename='js/setup_provider.js') }}"></script>
			{% else %}
				{% include 'profile/profile-user-managed.html'%}
			{% endif %}
		{% else %}
			{% include 'profile/profile-user-managed.html'%}
		{% endif %}
	{% else %}
		<style type="text/css">
			.profile-sidebar span {
				margin-left: 10px;
				font-size: 20px;
			}
		</style>
		<div class="container-fluid">
			<h6>{{ email }}</h6>
			<div class="row">
				<div class="col-2">
					<div class="card" style="margin-left: 15px ;width: 180px; height: 180px;">
						image
					</div>
				</div>
				<div class="col-10">
					<div class="card rounded-0" style="min-height: 20vh">
						<div class="row">
							<div style="margin-left: 25px;">
								<p>@{{ username }}</p>
								<p>Made {{ number_of_transactions }} Transactions</p>
								<p>{{ city }}</p>
							</div>
							<div class="text-right">
								<p>{{ rating }} star rating</p>
								<button>Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				{% if not posts %}
					<h1>No Posts</h1>
				{% endif %}
				{% for post in posts %}
					<div class="card" style="padding: 20px;">
						<p>Shoe Cleaning</p>
						<h6>${{ post.cost }}</h6>
						<p>{{ post.selectedTime }}</p>
						<b><a href="/profile/{{ post.username }}" style="color: #000;">{{ post.username }}</a></b>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}